.burgerMenu {
  display: none;
  color: var(--white-color);
}

.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  z-index: 50;
  right: 0;
  left: 10;
  top: 0;
  width: 100%;
  height: 50%;
}
