/* Shared button styles */
.button {
  padding: 0.25rem 0.25rem;
  width: auto;
  background-color: transparent;
  border-radius: 0.25rem;
  border: 2px solid var(--blue-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
  cursor: pointer;
}

/* Base button style */
.buttonBase {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.buttonBase:hover {
  background-color: var(--white-color);
  color: var(--blue-color);
}

/* Close button style */
.buttonClose {
  color: var(--blue-color);
}

.buttonClose:hover {
  background-color: var(--white-color);
  color: var(--blue-color);
}

.buttonLarge {
  width: 100%;
}
