@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*graphics charters*/
  --white-color: rgb(248, 248, 242);
  --black-color: rgba(83, 82, 81);
  --blue-color: rgba(116, 172, 197);
}

@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--black-color));
  background: linear-gradient(to bottom, transparent, rgb(var(--white-color)))
    rgb(var(--white-color));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
